---
title: Home
eleventyNavigation:
  key: Hause
  order: 1
---
{% extends "base.njk" %}

{% block main %}
  <h1 class="text-red-900 text-6xl my-2 mx-auto">Montagsleser</h1>

  <div >
    <ul class="flex flex-row flex-wrap justify-between">
      {% for post in posts %}
        <li class="my-2 bg-gray-300 max-w-xs">
          <p>
            <a class="text-2xl" href={{post.link}}>{{post.title.rendered | safe}}</a>
          </p>

          <picture class="">
            <img class="w-auto my-1" src={{post._embedded['wp:featuredmedia']['0'].source_url}} alt="Bild"/>
          </picture>

          <div class="w-full">
            <audio controls preload="none">
              <source src={{post.acf.mp3url}} type="audio/mp3" >
  Your browser does not support the audio!
</audio>
          </div>

          <p>{{post.acf.klappentext}}</p>
          <p>von {{post._embedded.author.name}}</p>

        </li>

      {% endfor %}
    </div>
  </ul>
{% endblock %}