---
title: Links
eleventyNavigation:
  key: Links
  order: 3
---
{% extends "base.njk" %}

{% block main %}
  <h2 class="mx-auto mb-4 text-4xl text-red-900">Links</h2>
  <p>
    Der schönste Schreibwerkstatt der Welt, die uns alle zusammengebracht hat findet man hier: 
    <a href="https://schreibwerkstatt-berlin.de" class="font-semibold">schreibwerkstatt-berlin.de</a>

  </p>

{% endblock %}