---
title: Wer?
eleventyNavigation:
  key: Wer?
  order: 2
---
{% extends "base.njk" %}

{% block main %}
  <h2 class="mx-auto mb-4 text-4xl text-red-900">Wer?</h2>

  <p class="prose">Die Montagsleser:innen sind viele. <br>
"auf jeden Fall" <br>
Die Montagsleser:innen sind keine Montagsgeräte.<br>
"nein-nein-nein"<br>
Die Montagsleser:innen haben Freund:innen, die auch auf dieser Seite zu hören sind.<br>
"und zwar Matthias, Sarah, Milena, Resi, Pia, Tobias, Lukas, Sandra, Hanna, Marie und Paulus.<br>
Die Montagsleser:innen sind auch selber.<br>
"fast jeden Tag!"<br>
Und zwar: Edna, Franzi, Hermine, Jessi, Jonas, Kora, Laura, Lisa, Nils, Rebekka, Richard, Samira & Tristan<br></p>

{% endblock %}